<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>地址管理</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
地址管理
<script>
    $(document).ready(function () {
        $.ajax({
            type: "get",
            dataType: "html",
            url: '/meter/map',
            data: 'abc',
            success: function (data) {
                alert(data);
            }
        });
    });
</script>
</body>
</html>